---
import Time from "../icons/Time.astro";
import {SongPlayButton} from "../components/SongPlayButton"

const { songs } = Astro.props;

const isHovered = false
---

<table class="table-auto text-left min-w-full divide-y divide-gray-500/20">
    <thead class="">
        <tr class="text-zinc-400 text-sm">
            <th class="px-4 py-2 font-light">#</th>
            <th class="px-4 py-2 font-light">Título</th>
            <th class="px-4 py-2 hidden md:block font-light">Álbum</th>
            <th class="px-4 py-2 font-light"><Time /></th>
        </tr>
    </thead>

    <tbody>
        <tr class="h-[16px]"></tr>
        {
            songs.map((song, index) => (
                <tr class="playlist-song border-spacing-0 text-gray-300 text-sm font-light hover:bg-white/10 overflow-hidden transition duration-300">
                        <td class="px-4 py-2 rounded-tl-lg rounded-bl-lg w-5 relative">
                            <p class="playlist-number">{index + 1}</p>
                            <div class="playlist-button opacity-0 absolute left-[5%] top-[38%] ml-3">
                                <SongPlayButton client:visible song={song}/>
                            </div>
                        </td>
                        <td class="px-4 py-2 flex gap-3">
                            <picture class="w-11 h-11">
                                <img
                                    src={song.image}
                                    alt={song.title}
                                    class="w-full h-full aspect-square"
                                />
                            </picture>
                            <div class="flex flex-col items-start justify-center gap-[2px] truncate">
                                <h3 class="text-white hover:underline">
                                    {song.title}
                                </h3>
                                <small class="text-xs opacity-60">{song.artists.join(", ")}</small>
                            </div>
                        </td>
                        <td class="px-4 py-2 hidden md:table-cell truncate">{song.album}</td>
                        <td class="px-4 py-2 rounded-tr-lg rounded-br-lg">
                            {song.duration}
                        </td>
                </tr>
            ))
        }
    </tbody>
</table>

<style>
    .playlist-song:hover .playlist-number{
        opacity: 0;
    }
    .playlist-song:hover .playlist-button{
        opacity: 1;
    }
</style>